#mainBlog {
    max-width: 1200px;
    padding: 0;
    overflow-y: auto;
}

.wallpaper > figure {
    width: 100%;
    height: 250px;
    max-height: 250px;
    overflow-y: hidden;
    position: relative;
}

figure > img {
    width: 100%;
    background-size: contain;
}

figcaption {
    position: absolute;
    bottom: 5vh;
    color: white;
    padding-left: 2.5vw;
}

.article-blog {
    max-width: 100vw;
    overflow: hidden;
    text-align: justify;
    padding: 0 2.5vw;
    margin: 1rem 0;
}

.article-blog > figure {
    width: 25%;
    float: left;
    margin-right:  1.5rem;
}

@media (max-width: 500px) {
    .article-blog > p {
        font-size: small;
    }

    .article-blog > figure {
        width: 50%;
    }
}
