/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
  }
  
  /* Header */
  header {
    width: 100vw;
    height: 15vh;
    position: fixed;
    background: #333;
    color: white;
    padding: 0 1em;
    text-align: center;
  }
  
  header nav {
    margin-bottom: 1em;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }

  /* Main */
  main {
    width: 100vw;
    height: 75vh;
    max-height: 75vh;
    padding: 2em;
    flex: 1;
    margin-top: 20vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
    
  /* Footer */
  footer {
    width: 100vw;
    height: 10vh;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1em;
    margin-top: 2em;
  }
  